<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Lista de Pessoas</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>




	<div class="panel panel-default" style="margin: 10px">

		<div class="panel-body">

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Gênero</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pessoa : ${pessoas}">
						<td th:text="${pessoa.id}"></td>
						<td th:text="${pessoa.nome}"></td>
						<td th:text="${pessoa.genero.descricao}"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/pessoas/{id}(id=${pessoa.id})}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>